<div class="jumbotron">
    <div class="container">
        <h1>Casting calls. Answer.</h1>
        <p>Welcome to New Mexico's largest network of background Actors.</p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
    </div>
</div>

<div class="container">
    <div class="row">
        <%= render "layouts/castingcalls_grid" %>
    </div>
</div>