// Use bootstrap variables, scss or css here

//
// Variables
// --------------------------------------------------
// Sans-serif
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,600|Catamaran:300,400,500,600,700,800|PT+Sans+Narrow:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

//font-family: 'PT Sans Narrow', sans-serif;
//font-family: 'Cabin Condensed', sans-serif;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-responsive-font-sizes: true !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Body
//
// Settings for the `<body>` element.
$body-bg: $gray-900 !default;
$body-color: $white !default;

$theme-colors: (
  'primary': darken(#1097ff, 6.5%),
  'danger': hsl(345, 88%, 52%),
  'success': #38ba00,
  'warning': #ff9200,
  'info': #79c5ff,
  'action': #e2d23f,
);

//==============================================================================

// LOGO & Navbar

@import url('https://fonts.googleapis.com/css?family=Merriweather:900i');

.navbar-default {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 134, 238, 0.04);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0, 134, 238, 0.04);
  box-shadow: 0px 0px 6px 2px rgba(0, 134, 238, 0.04);
}

a.navbar-brand {
  font-size: 21px;
  font-family: Merriweather, serif;
  font-weight: 900;
  font-style: italic;
  color: #ff002d !important;
}

a.navbar-brand:hover {
  color: #ff7089 !important;
}

// Form Components
small.necessity {
  font-weight: normal;
  color: #d6bc8f;
}

// Centered block
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
