<%= simple_form_for(@castingcall, html: {multipart: true}) do |f| %>
 <%# render 'shared/form_errors', object: f.object %>
   <%= f.input :title %>
   <%= f.input :description %>
   <div class="panel clearfix">
    <div class="panel-body">
     </div>
   </div>
   <%= f.button :submit, :class => "btn-primary" %>
 <% end %>