<h1>Castingcalls#index</h1>
<p>Find me in app/views/castingcalls/index.html.erb</p>

<%= link_to "New Casting Call", new_castingcall_path %>

<div class="row">

<%= render 'layouts/castingcalls_grid' %>
</div>